{% extends 'rodas/base.html' %}

{% block title %}Registro - Esperança Sobre Rodas{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="col-span-1 space-y-8">
            <h1 class="text-3xl font-bold text-gray-900">Solicite uma corrida</h1>
            <form action="{% url 'rodas:solicita_corrida' %}" method="post" class="mt-4 space-y-6">
                {% csrf_token %}
                <div>
                    <label for="endereco_origem" class="block text-sm font-medium text-gray-700">Endereço de
                        Origem</label>
                    {% if form.endereco_origem.errors %}
                        <div class="text-red-600 text-xs mb-1">{{ form.endereco_origem.errors.0 }}</div>
                    {% endif %}
                    <input
                            id="endereco_origem"
                            name="endereco_origem"
                            type="search"
                            required
                            value="{{ form.endereco_origem.value|default:'' }}"
                            class="mt-1 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm disabled:bg-gray-100"
                            placeholder="Adicione origem"
                    >
                </div>
                <div>
                    <label for="endereco_destino" class="block text-sm font-medium text-gray-700">Endereço de
                        Destino</label>
                    {% if form.endereco_destino.errors %}
                        <div class="text-red-600 text-xs mb-1">{{ form.endereco_destino.errors.0 }}</div>
                    {% endif %}
                    <input
                            id="endereco_destino"
                            name="endereco_destino"
                            type="search"
                            required
                            value="{{ form.endereco_destino.value|default:'' }}"
                            class="mt-1 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm disabled:bg-gray-100"
                            placeholder="Adicione destino"
                    >
                </div>
                <div>
                    <label for="numero_passageiros" class="block text-sm font-medium text-gray-700">Número de
                        Passageiros</label>
                    {% if form.numero_passageiros.errors %}
                        <div class="text-red-600 text-xs mb-1">{{ form.numero_passageiros.errors.0 }}</div>
                    {% endif %}
                    <input
                            id="numero_passageiros"
                            name="numero_passageiros"
                            type="number"
                            required
                            value="{{ form.numero_passageiros.value|default:'' }}"
                            class="mt-1 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm disabled:bg-gray-100"
                            placeholder="Adicione número de passageiros"
                    >
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full">
                    <div class="flex-1">
                        <label for="data_agendamento" class="block text-sm font-medium text-gray-700">Data</label>
                        {% if form.data_agendamento.errors %}
                            <div class="text-red-600 text-xs mb-1">{{ form.data_agendamento.errors.0 }}</div>
                        {% endif %}

                        <div class="relative w-full">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input datepicker datepicker-format="dd/mm/yyyy" id="data_agendamento" type="text"
                                   name="data_agendamento"
                                   class="disabled:bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                   placeholder="Select date"
                                   value="

                                           {{ form.data_agendamento.value|default:''|default_if_none:'' }}{% if not form.data_agendamento.value %}{% now 'd/m/Y' %}{% endif %}"
                            >
                        </div>
                    </div>
                    <div class="flex-1">
                        <label for="hora_agendamento" class="block text-sm font-medium text-gray-700">Hora</label>
                        {% if form.hora_agendamento.errors %}
                            <div class="text-red-600 text-xs mb-1">{{ form.hora_agendamento.errors.0 }}</div>
                        {% endif %}

                        <div class="relative w-full">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input id="hora_agendamento" type="time" name="hora_agendamento"
                                   class="disabled:bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                   value="

                                           {{ form.hora_agendamento.value|default_if_none:'' }}{% if not form.hora_agendamento.value %}{% now 'H:i' %}{% endif %}">
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <input id="necessita_cadeira_rodas" name="necessita_cadeira_rodas" type="checkbox" value="true"
                           {% if form.necessita_cadeira_rodas.value %}checked{% endif %}
                           class="appearance-none relative block size-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm disabled:bg-gray-100">
                    <label for="necessita_cadeira_rodas" class="ms-2 block text-sm font-medium text-gray-700">Necessita
                        cadeira de Rodas</label>
                </div>
                <div>
                    <label for="observacoes" class="block text-sm font-medium text-gray-700">Observações</label>
                    {% if form.observacoes.errors %}
                        <div class="text-red-600 text-xs mb-1">{{ form.observacoes.errors.0 }}</div>
                    {% endif %}
                    <textarea
                            id="observacoes"
                            name="observacoes"
                            required
                            rows="3"
                            value="{{ form.observacoes.value|default:'' }}"
                            class="mt-1 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm disabled:bg-gray-100"
                            placeholder="Adicione observações"
                    ></textarea>
                </div>
                <div>
                    <button
                            type="submit"
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-400 disabled:cursor-not-allowed"
                    >
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <i class="fas fa-car text-green-50"></i>
                    </span>
                        Solicitar Corrida
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}